@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <div style="display: flex; width: 100%; height: 100%; justify-content: space-between; align-items: center;">
            <div>
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Default" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                My Application
            </div>
            <div>
                <MudIconButton Icon="@ToggleThemeIcon"
                               OnClick="() => _isDarkMode = !_isDarkMode"
                               aria-label="Toggle Dark Mode"/>
            </div>
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenuDisplay />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>